body {
    background: #E5EDF5;
    margin: 0;
    padding: 0;
}

.container {
    background-color:white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 30px;
    border-radius: 5px;
}

label {
    font-size: 18px;
    color: #8D8D8D;
    width: 100%;
}

.input-field {
    background: #fff;
    border: 2px;
    border-color: #C6C6C6;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.select-box {
    height: 35px;
    background: #fff;
    border: 2px solid;
    border-radius: 5px;
    border-color: #C6C6C6;
}

.button-solid-large {
    font-size: 15px;
    color: #fff;
    background: #1DD1A1;
    height: 50px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}

.button-ghost {
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    border-color: #576574;
}

.button-solid-small {
    font-size: 15px;
    background:  #576574;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
}

.component-titles h1{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    color: #4D4D4D;
}

.table-head {
    font-size: 16px;
    color: #404040;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: #707070;
}

.table-row {
    font-size: 16px;
    color: #575757;
    background: #fff;
    padding: 20px;
}

.table-row-buttons {
    font-size: 16px;
    color: #fff;
}

.tabs {
    color: #fff;
    font-size: 15px;
}

.tab-active {
    background: #1DD1A1;
    font-weight: bold;
}

.tab-inactive {
    background: #C9E5DD;
    font-weight: bold;
}